<section class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__inner">
        <div class="footer-top__logo">
          <a href="index.html" class="footer-top__logo-link">
            <img class="logo" src="images/ico/logo.svg" alt="логотип">
          </a>
          <p class="footer-top__logo-text">
            ФРЕШоК <span class="header-bottom__text-sub">ОНЛАЙН-МАРКЕТ</span>
          </p>

        </div>
        <div class="footer-top__form">

          <p class="footer-top__form-text">
            Следите за нашими акциями
          </p>
          <form class="footer-top__block" action="#">

            <input type="email" class="footer-top__form-input" placeholder="email@email.com" required>
            <button class="footer-top__form-btn btn-green" type="submit">ПОДПИСАТЬСЯ</button>

          </form>
        </div>
      </div>
      <ul class="footer-top__items">
        <li class="footer-top__item">
          <a class="footer-top__item-link link-style" href="#">
            О нас
          </a>
          <a class="footer-top__item-link link-style" href="#">
            Контакты
          </a>
          <a class="footer-top__item-link link-style" href="#">
            Публичная оферта
          </a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__item-link link-style" href="#">
            Оплата и доставка
          </a>
          <a class="footer-top__item-link link-style" href="#" a>
            Вакансии
          </a>
          <a class="footer-top__item-link link-style" href="#">
            Акции
          </a>
        </li>
        <li class="footer-top__item">
          <a class="footer-top__item-link link-style" href="#">
            Отзывы
          </a>
          <a class="footer-top__item-link link-style" href="#">
            Новости
          </a>

        </li>
      </ul>
      <div class="social">
        <ul class="social__items">
          <li class="social__item">
            <a class="social__link link-style" href="#">
              Горячая линия: +38 050 111 22 33
            </a>
          </li>

          <li class="social__item">
            <a class="social__link link-style" href="#">
              Запорожье, ул. Т.Г. Шевченко, 1
            </a>
          </li>
        </ul>
        <ul class="social__list">

          <li class="social__img">
            <svg class="social__img-link">
              <use xlink:href="images/sprite.svg#facebook"></use>
            </svg>
            <!-- <a class="social__img-link" href="#">
              <img src="images/social/facebook.svg" alt="">
            </a> -->
          </li>

          <li class="social__img">
            <a class="social__img-svg" href="#">
              <svg class="social__img-link">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>

            </a>
          </li>

          <li class="social__img">
            <a class="social__img-svg" href="#">
              <svg class="social__img-link">
                <use xlink:href="images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social__img">
            <a class="social__img-svg" href="#">
              <svg class="social__img-link">
                <use xlink:href="images/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
  <div class="footer-bottom">
    <div class="footer-bottom__box container">
      <p class="footer-bottom__text">
        © 2022 ФРЕШОК
      </p>
      <div class="footer-bottom__accept">
        <img class="footer-bottom__img" src="images/ico/visa.svg" alt="img card">
        <img class="footer-bottom__img" src="images/ico/mc.svg" alt="img card">

      </div>

    </div>
  </div>
</section>
</body>
<script src="js/main.min.js"></script>

</html>