<section class="partners">
  <div class="container">
    <div class="partners__inner">
      <div class="partners__box">
        <img class="partners__img" src="images/partners/1.svg" alt="photo">
        <div class="partners__content">
          <p class="partners__title">
            Бесплатная доставка
          </p>
          <p class="partners__text">
            Для заказов на сумму от 500 ₴
          </p>
        </div>
      </div>

      <div class="partners__box">
        <img class="partners__img" src="images/partners/2.svg" alt="photo">
        <div class="partners__content">
          <p class="partners__title">
            Возврат товара
          </p>
          <p class="partners__text">
            Если товары были испорчены
          </p>
        </div>
      </div>

      <div class="partners__box">
        <img class="partners__img" src="images/partners/3.svg" alt="photo">
        <div class="partners__content">
          <p class="partners__title">
            Поддержка 24/7
          </p>
          <p class="partners__text">
            Лучшие операторы
          </p>
        </div>
      </div>
    </div>
  </div>
</section>