<section class="news">
  <div class="container">
    <div class="news__info">
      <h2 class="news__title title">
        НАШИ НОВОСТИ
      </h2>
      <p class="news__subtitle">
        ВСЕ НОВОСТИ
      </p>
    </div>

    <ul class="news__items">
      <li class="news__item">
        <img class="news__item-img" src="images/news/1.jpg" alt="фото акции">
        <div class="news__inner">
          <p class="news__month">
            ИЮЛЬ
          </p>
          <p class="news__day">
            15
          </p>
        </div>
        <h4 class="news__content">
          Событие этого лета: распродажа сезонных фруктов в онлайн-маркете ФрешОК. Торопись, пока всё не разобрали!
        </h4>
      </li>
      <li class="news__item">
        <img class="news__item-img" src="images/news/2.jpg" alt="фото акции">
        <div class="news__inner">
          <p class="news__month">
            ФЕВРАЛЬ
          </p>
          <p class="news__day">
            07
          </p>
        </div>
        <h4 class="news__content">
          Шикарнейший выбор манго в нашем онлайн-маркете
        </h4>
      </li>
      <li class="news__item">
        <img class="news__item-img" src="images/news/3.jpg" alt="фото акции">
        <div class="news__inner">
          <p class="news__month">
            ФЕВРАЛЬ
          </p>
          <p class="news__day">
            20
          </p>
        </div>
        <h4 class="news__content">
          Всё, что вы хотели знать о папайя
        </h4>
      </li>
    </ul>
  </div>
</section>