<section class="promotion">
  <div class="container">
    <div class="promotion__box">
      <div class="promotion__item" style="background-image: url('images/promotion/1.jpg');">
        <p class="promotion__item-subtitle">
          СВЕЖАЙШИЕ ФРУКТЫ
        </p>
        <h4 class="promotion__item-title">
          НАЧНИ ФРУКТОВОЕ ЛЕТО
          <span>ВСЕГО От 19 ₴</span>
        </h4>
        <a class="promotion__item-link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </div>

      <div class="promotion__item" style="background-image: url('images/promotion/2.jpg');">
        <p class="promotion__item-subtitle">
          СЕЗОННАЯ РАСПРОДАЖА
        </p>
        <h4 class="promotion__item-title">
          ОВОЩЕПАД
          <span>ДО -50%</span>
        </h4>
        <a class="promotion__item-link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </div>

      <div class="promotion__item" style="background-image: url('images/promotion/3.jpg');">
        <p class="promotion__item-subtitle">
          НЯМ-НЯМ
        </p>
        <h4 class="promotion__item-title">
          СВЕЖИЙ
          <span>ХЛЕБЧИК</span>
        </h4>
        <a class="promotion__item-link" href="#">
          ПЕРЕЙТИ К ПОКУПКАМ
        </a>
      </div>
    </div>

  </div>

</section>

<!-- <img class="promotion__img" src="images/promotion/1.jpg" alt="image promotion">
  <img class="promotion__img" src="images/promotion/2.jpg" alt="image promotion">
  <img class="promotion__img" src="images/promotion/3.jpg" alt="image promotion"> -->