<section class="promotional-products">
  <div class="container">
    <h2 class="promotional-products__title title">
      Акции
    </h2>
    <ul class="promotional-products__category">
      <li class="promotional-products__list">
        <button class="promotional-products__category-btn promotional-products__category-btn--active" type="button">
          Все товары
        </button>
      </li>
      <li class="promotional-products__list">
        <button class="promotional-products__category-btn" type="button">
          НовИНКИ
        </button>
      </li>
      <li class="promotional-products__list">
        <button class="promotional-products__category-btn" type="button">
          ХИТЫ
        </button>
      </li>
    </ul>



    <div class="promotional-products__wrap">
      <ul class="promotional-products__items">

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--new">
            <img class="promotional-products__img" src="images/promotional/1.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Ананас, 1 кг
              </h4>

              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">99₴</p>
                    <p class="promotional-products__old-price">199 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.5
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--new">
            <img class="promotional-products__img" src="images/promotional/2.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">219₴</p>
                    <p class="promotional-products__old-price disable">199 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.9
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>

              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--new">
            <img class="promotional-products__img" src="images/promotional/3.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Клубника, 1 кг
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">64₴</p>
                    <p class="promotional-products__old-price">80 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.9
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>

              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--new">
            <img class="promotional-products__img" src="images/promotional/4.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Манго, 1 шт
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">166₴</p>
                    <p class="promotional-products__old-price disable">199 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      5
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--new">
            <img class="promotional-products__img" src="images/promotional/5.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Лосось, 1 кг
              </h4>

              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">699₴</p>
                    <p class="promotional-products__old-price">999 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.5
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>

              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--hit">
            <img class="promotional-products__img" src="images/promotional/6.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Сок Granini овощной 100%, 0.5л
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">88₴</p>
                    <p class="promotional-products__old-price">118 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.9
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>

              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--hit">
            <img class="promotional-products__img" src="images/promotional/7.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Фруктовая корзина, 1 шт
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">599₴</p>
                    <p class="promotional-products__old-price">799 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.8
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>

        <li class="promotional-products__item">
          <article class="promotional-products__box promotional-products__box--hit">
            <img class="promotional-products__img" src="images/promotional/8.jpg" alt="фото акции">
            <div class="promotional-products__block">
              <h4 class="promotional-products__block-title">
                Свинина мякоть, 1 кг
              </h4>
              <div class="promotional-products__content">
                <p class="promotional-products__block-text">
                  В НАЛИЧИИ
                </p>
                <div class="promotional-products__bl">
                  <div class="promotional-products__price">
                    <p class="promotional-products__new-price">119₴</p>
                    <p class="promotional-products__old-price">159 ₴</p>
                  </div>
                  <div class="promotional-products__rate">
                    <p class="promotional-products__rate-num">
                      4.6
                    </p>
                    <img src="images/ico/star.svg" alt="" class="promotional-products__rate-img">
                  </div>
                </div>
              </div>
            </div>
          </article>
        </li>
      </ul>


    </div>
    <button class="promotional-products__btn btn-green" type="button">
      Показать еще
    </button>

  </div>
</section>