<section class="sponsor container">

  <a href="#" class="sponsor__link">
    <img class="sponsor__link" src="images/sponsor/sprite.svg" alt="изображение спонсора">
  </a>


  <a href="#" class="sponsor__link">
    <img class="sponsor__img" src="images/sponsor/dr-pepper-4.jpg" alt="изображение спонсора">
  </a>
  <a href="#" class="sponsor__link">
    <img class="sponsor__img" src="images/sponsor/cocacola.jpg" alt="изображение спонсора">
  </a>
  <a href="#" class="sponsor__link">
    <img class="sponsor__img" src="images/sponsor/pepsi.jpg" alt="изображение спонсора">
  </a>
  <a href="#" class="sponsor__link">
    <img class="sponsor__img" src="images/sponsor/redbull.jpg" alt="изображение спонсора">
  </a>
  <a href="#" class="sponsor__link">
    <img class="sponsor__img" src="images/sponsor/fanta.jpg" alt="изображение спонсора">
  </a>


</section>