<div class="product">
  <div class="container">
    <h1 class="sr-only">
      Страница с детальным описанием товара
    </h1>
    <div class="product__container ">
      <div class="product-swiper">

        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide product-swiper__slide">
              <img class="product-swiper__img" src="images/product/1b.jpg" alt="фото товара">
            </li>

            <li class="swiper-slide product-swiper__slide">
              <img class="product-swiper__img" src="images/product/1b.jpg" alt="фото товара">
            </li>
          </ul>
          <div class="swiper-button-prev product-swiper__prev"></div>
          <div class="swiper-button-next product-swiper__next"></div>
        </div>
      </div>

      <div class="product-info">
        <h2 class="product-info__title">
          Питахайя красная с белой мякотью
        </h2>

        <p class="product-info__desc">
          ХИТ
        </p>
        <div class="product-info__box">
          <div class="product-info__box-info">

            <p class="product-info__box-code">
              Код: 0111111
            </p>
            <div class="product-info__star star" data-rateyo-rating="4"></div>
          </div>

          <p class="product-info__box-text">
            В НАЛИЧИИ
          </p>
        </div>
        <div class="product-card__price">
          <p class="product-card__old-price">199 ₴</p>
          <p class="product-card__new-price">101 ₴</p>
        </div>

        <div class="product-info__form">
          <div class="product-info__inner">

            <form class="product-info__buy" action="#">
              <input class="product-info__buy-num" type="number" value="1" min="1">
            </form>
            <button type="submit" class="product-info__button btn-green">
              <svg class="product-info__buy-btn">
                <use xlink:href="images/sprite.svg#cart"></use>
              </svg>
              Добавить в корзину
            </button>
          </div>
          <div class="product-card__bl">
            <div class="product-card__wrap">
              <svg class="product-card__select">
                <use xlink:href="images/sprite.svg#select"></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="product-delivery">
          <h3 class="product-delivery__title">
            Доставка и оплата
          </h3>
          <div class="product-delivery__content">
            <p class="product-delivery__text">
              Минимальная сумма заказа - 100 грн.
            </p>
            <p class="product-delivery__text">
              Время доставки заказа - 60-120 мин.
            </p>
            <p class="product-delivery__text">
              Оплата осуществляется только банковской картой.
            </p>
            <p class="product-delivery__text">
              Окончательная сумма заказа формируется после сбора товаров.
            </p>
          </div>
          <a href="#" class="product-delivery__link">
            Подробнее
          </a>
        </div>
      </div>

    </div>


  </div>
</div>