<section class="product-tabs">
  <div class="container">
    <div class="product-tabs__box">

      <div class="product-tabs__top">
        <a class="product-tabs__top-item product-tabs__top-item--active" href="#tab-1">
          Описание
        </a>
        <a class="product-tabs__top-item" href="#tab-2">
          ХАРАКТЕРИСТИКИ
        </a>
        <a class="product-tabs__top-item " href="#tab-3">
          Отзывы (2)
        </a>
      </div>

      <div class="product-tabs__content">
        <div class="product-tabs__content-item product-tabs__content-item--active" id="tab-1">
          <div class="description">
            <div class="description__items">
              <p class="description__text">
                Питахайя – это источник питательных веществ и витаминов. Содержит витамин С, который способствует
                укреплению иммунной
                системы. В составе питайи много клетчатки, она благотворно влияет на работу ЖКТ. Оказывает
                противовоспалительное
                действие, так как фрукт богат антиоксидантами. При употреблении питахайи, понижается уровень сахара в
                крови, улучшается
                зрение и работа сердечно–сосудистой системы. Так как фрукт низкокалорийный и состоит на 90% из воды,
                способствует
                снижению веса.

              </p>
              <p class="description__text">
                Витамины: С, Е, РР, витамины группы В
              </p>
              <p class="description__text">
                Микроэлементы: железо, калий, кальций, магний, фосфор
              </p>
              <p class="description__text">
                Внешний вид товара может отличаться от изображений, представленных на сайте.
              </p>
            </div>
          </div>
        </div>

        <div class="product-tabs__content-item" id="tab-2">
          <ul class="additional">
            <li class="additional__list">
              <p class="additional__text">
                Вес: <span>250-350 г;</span>
              </p>
            </li>

            <li class="additional__list">
              <p class="additional__text">
                Калорийность (на 100г): <span>50 ккал;</span>
              </p>
            </li>

            <li class="additional__list">
              <p class="additional__text">
                Условия хранения: <span>температура от +3 до +8;</span>
              </p>
            </li>

            <li class="additional__list">
              <p class="additional__text">
                Другие названия: <span>Драконов фрукт, Глаз дракона;</span>
              </p>
            </li>
            <li class="additional__list">
              <p class="additional__text">
                Страна происхождения: <span>Вьетнам;</span>
              </p>
            </li>
            <li class="additional__list">
              <p class="additional__text">
                Срок хранения: <span>до 5 дней.</span>
              </p>
            </li>
          </ul>
        </div>

        <div class="product-tabs__content-item" id="tab-3">
          <div class="reviews">
            <h3 class="reviews__title">
              МНЕНИЯ НАШИХ КЛИЕНТОВ
            </h3>
            <ul class="reviews__items">
              <li class="reviews__item">


                <figure class="reviews__item-descr">
                  <div class="reviews__item-box">
                    <img class="reviews__item-img" src="images/reviews/img-user.jpg" alt="фото пользователя">
                    <div class="reviews__item-info">
                      <p class="reviews__item-name">
                        Андрей
                      </p>
                      <p class="reviews__item-date">
                        10.01.2024
                      </p>
                    </div>

                  </div>
                  <div class="reviews__item-star star" data-rateyo-rating="5"></div>
                </figure>

                <blockquote class="reviews__item-text">
                  Яркий цвет, нежный вкус. Очень свежий и приятный, буду пробовать еще!
                </blockquote>

              </li>

              <li class="reviews__item">


                <figure class="reviews__item-descr">
                  <div class="reviews__item-box">
                    <img class="reviews__item-img" src="images/reviews/img-user.jpg" alt="фото пользователя">
                    <div class="reviews__item-info">
                      <p class="reviews__item-name">
                        Мартынов Никита
                      </p>
                      <p class="reviews__item-date">
                        10.06.2024
                      </p>
                    </div>

                  </div>
                  <div class="reviews__item-star star" data-rateyo-rating="4"></div>
                </figure>

                <blockquote class="reviews__item-text">
                  Цвет, конечно, очень насыщенный! Ожидаешь, что и вкус будет такой же яркий (просто взрыв), но нет.
                  Вкус
                  "сдержанно-сладкий" и очень-очень свежий! Рад, что есть такая возможность - пробовать экзотические
                  фрукты.
                </blockquote>
              </li>
            </ul>

            <div class="reviews-form">
              <h3 class="reviews-form__subtitle">
                ОСТАВИТЬ ОТЗЫВ
              </h3>
              <form class="" action="#">
                <div class="reviews-form__label">
                  <span class="reviews-form__label-title">Ваша оценка *</span>
                  <div class="star-nofix"></div>
                </div>
                <div class="reviews-form__input">
                  <label class="reviews-form__input-label reviews-form__input-texarea" for="message">Ваш отзыв *
                    <textarea class="reviews-form__textarea" id="message" placeholder="Введите текст отзыва"></textarea>
                  </label>
                  <div class="reviews-form__textbox">
                    <label class="reviews-form__input-label" for="username">
                      Имя
                      <input class="reviews-form__text" id="username" type="text" name="name"
                        placeholder="Введите ваше имя">
                    </label>

                    <label class="reviews-form__input-label" for="email">Email *
                      <input class="reviews-form__text" id="email" type="email" placeholder="youremail@mail.com"
                        required>
                    </label>
                  </div>
                </div>

                <div class="reviews-form__checked">
                  <div class="reviews-form__checked-box">

                    <input class="reviews-form__checkbox" type="checkbox" id="checkbox" required>

                    <label class="reviews-form__checkbox-label" for="checkbox">
                      Сохранить моё имя, email и адрес сайта в этом браузере для последующих моих
                      комментариев.
                    </label>
                  </div>
                  <button class="reviews-form__checked-btn btn" type="submit">
                    Оставить отзыв
                  </button>

                </div>
              </form>
            </div>
          </div>
        </div>

      </div>


    </div>

</section>